@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
/* Main Styles */

body {
    background-image: url("../images/icecream1.png");
}

a {
    text-decoration: none;
}

a:hover {
    text-shadow: 0px 0px 2px black;
    text-decoration: none;
}

div#main {
    margin: 20px auto;
    padding: 12px;
    width: 70%;
    background-image: url("../images/wood.png");
    border: 5px solid #43826A;
    border-radius: 5px 5px 25px 25px;
    -moz-border-radius: 5px 5px 25px 25px;
    -webkit-border-radius: 5px 5px 25px 25px;
    box-shadow: 0px 0px 5px black;
}

/* Header Styles */

h1.title {
    font-family: "Shadows Into Light", "Arial", serif;
    letter-spacing: 3px;
    color: #43826A;
    text-align: center;
    margin-bottom: 2%;
}

div#main h3 a {
    font-family: "Shadows Into Light", "Arial", serif;
    letter-spacing: 3px;
    color: #43826A;
}

/* Card Styles */
div.card {
    border: 2px solid #43826A;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 3px #43826A;
    background-color: #FFFFFF00
}

/* Card Header Styles */

div.card-header {
    border: none;
    background-color: #43826A;
}

div.card-header h2 {
    font-family: "Shadows Into Light", "Arial", serif;
    letter-spacing: 3px;
    font-weight: bold;
    color: #FFFFFF;
}

/* Card Footer Styles */

div.card-footer p.foot {
    text-align: right;
}

/* Login Styles */

div.main-login {
    margin: 5px auto;
    width: 40%;
    min-width: 40%;
}

.btn {
    font-family: "Shadows Into Light", "Arial", serif;
    letter-spacing: 3px;
    background: #008CFF;
    font-size: 25px;
    color: #FFFFFF;
}

.btn:active, .btn:hover {
    background: #38CAE2;
}
