/* Main Styles */

body {
    background-image: url("../images/icecream1.png");
}

div#main {
    margin: 20px auto;
    padding: 12px;
    width: 70%;
    background-image: url("../images/wood.png");
    border: 5px solid #43826A;
    border-radius: 5px 5px 25px 25px;
    -moz-border-radius: 5px 5px 25px 25px;
    -webkit-border-radius: 5px 5px 25px 25px;
    box-shadow: 0px 0px 5px black;
}

/* Section Styles */

section#header div {
    padding: 4px;
    background-color: #008CFF;
    border: none;
    text-align: center;
}

section#header div:nth-of-type(2) {
    background-color: #70BEFF;
}

div.container section img {
    max-width: 80px;
    float: left;
    margin-right: 15px;
}

div.container section div {
    border-bottom: 1px solid #0000001c;
}

div.container section div:nth-of-type(2) {
    background-color: rgba(255, 255, 255, 0.3);
}

div.container section div h5 {
    padding-top: 10px;
}

div.container section div.col-1 p {
    padding-top: 10px;
    text-align: center;
}

div.container section div.col-10 p {
    font-size: 0.8em;
}

/* Statistics Styles */

div#stats {
    padding: 2%;
}

figure {
    float: left;
}

figure img {
    max-width: 80px;
    margin: 0px 10px;
}

div#stats p {
    text-indent: 20px;
}