@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

label {
    font-family: "Shadows Into Light", "Arial", serif;
    letter-spacing: 3px;
    color: #43826A;
    font-size: 25px;
    font-weight: bold;
}