@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

label {
    font-family: "Shadows Into Light", "Arial", serif;
    letter-spacing: 3px;
    color: #43826A;
    font-size: 25px;
    font-weight: bold;
}

/* Comments Styles */

div.comment {
    margin: auto;
    border: 2px solid #43826A;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 3px #43826A;
}

div.comment section.username {
    width: 20%;
    float: left;
}

div.comment section.content {
    width: 80%;
    float: right;
}