.container {
    margin-top: 30px;
    margin-left: 30px;
}

#userInfo {
    display:inline-block;
    float: left;
    padding-left: 30px;
}

#groups {
    width: 20%;
    border: solid;
    border-width: thin;
    padding: 10px;
}

.content {
    padding-top: 140px;
}


img {
    width: 150px;
    height: 150px;
    display:inline-block;
    float: left;
}